// Color Var
$font-primary: #efeff3;
$primary: #000018;
$secondary: #f1661c;
$Thirdly: #605f39;
$fourth: #175848;
$primary-gradient: (120deg , #0d3e32 , #175848);
$secondary-gradient: linear-gradient(90deg, #ffffff , #a0d4eb);